<launch>
	<arg name="init_node0_id" default="0"/>
	<arg name="init_node1_id" default="1"/>
	<arg name="init_progress" default="0.0"/>

	<include file="$(find amsl_navigation_managers)/launch/amsl_navigation_managers.launch">

    <node pkg="dijkstra_global_planner" type="dijkstra_node" name="dijkstra" ns="global_planner">
		<param name="INIT_NODE0_ID" value="$(arg init_node0_id)" type="int"/>
		<param name="INIT_NODE1_ID" value="$(arg init_node1_id)" type="int"/>
	 	<param name="INIT_PROGRESS" value="$(arg init_progress)" type="double"/>
	</node>

	<test test-name="test_dijkstra" pkg="dijkstra_global_planner" type="test_dijkstra_global_planner.py">

</launch>
